@media (max-width: 480px) {
  .tabs__link--xxx {
    color: red;
    x-should: match '.tabs *';
    x-should: match '.tabs__link';
  }

  .tabs__link--active {
    color: red;
    x-should: match '.tabs *';
    x-should: match '.tabs__link';
  }

  .tabs__header--active {
    color: red;
    x-should: match '.tabs *';
    x-should: match '.tabs__header';
  }

  #id2 {
    color: red;
  }

  .tabs__item {
    color: blue;
    x-should: match '.tabs *';
  }
}

.tabs__link {
  color: black;
  x-should: match '.tabs *';
}

.tabs {
  border: 1px solid #1b6494;
}

.tabs__item--abc {
  background-color: red;
  x-should: match '.tabs *';
  x-should: match '.tabs__item';
}

.tabs__header {
  display: block;
  x-should: match '.tabs *';
}

.tabs__link--xxx {
  background-color: #1b6494;
  x-should: match '.tabs *';
  x-should: match '.tabs__link';
}

.tabs__link--itemize {
  background-color: #1b6494;
  x-should: match '.tabs *';
  x-should: match '.tabs__link';
}

.headline {
  background-color: #1b6494;
}

.tabs__link--active::after {
  border-color: #1b6494 transparent transparent;
  x-should: match '.tabs *';
  x-should: match '.tabs__link';
}

#id {
  border-color: #1b6494 transparent transparent;
}