@media (max-width: 480px) {
  .tabs {
    border: 1px solid #1b6494;
  }

  .tabs__link {
    color: black;
  }

  .tabs__header {
    display: block;
  }

  .tabs__link--xxx,
  .tabs__link--active,
  .tabs__header--active,
  #id2 {
    color: red;
  }

  .tabs__item {
    color: blue;
  }
}

.tabs__item--abc {
  background-color: red;
}

.tabs__header {
  display: block;
}

.tabs__link--xxx,
.tabs__link--itemize,
.headline {
  background-color: #1b6494;
}

.tabs__link--active::after {
  border-color: #1b6494 transparent transparent;
}

#id {
  border-color: #1b6494 transparent transparent;
}
